###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# Last Modified: 05-31-2007
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    nagiosadmin		; Short name of user
	      use				                      generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Nagios Admin		; Full name of user
        email                           johan.mathe@nonutc.fr	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact {
        contact_name                    johmathe
        use                             generic-contact
        alias                           Johan Mathe
        email                           johan.mathe@tremplin-utc.net
        }

define contact {
        contact_name                    sysops 
        use                             generic-contact
        alias                           Johan Mathe
        email                           johmathe@google.com,sysops@nonutc.fr
        }

define contact {
        contact_name                    jgautier
        use                             generic-contact
        alias                           Julien Gautier
        email                           julien.gautier@wanadoo.fr
        }

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 nagiosadmin,johmathe
        }

define contactgroup{
        contactgroup_name       piwik
        alias                   Nagios Administrators
        members                 johmathe
        }

define contactgroup{
        contactgroup_name       admins-arsindustrialis
        alias                   Nagios Administrators
        members                 nagiosadmin,johmathe,jgautier
        }

